a:link, a:visited {
 text-decoration: none;
 font-family:Courier;
 font-size:0.8em;
}

#back img{
    width:20px;
    height:20px;
    border:0
}

#title{
    margin-bottom:3px;
    text-align:center;
}

#input{
    margin-top:8px;
    text-align:center;
    margin-bottom:8px;
    font-family:Courier;
}

#title img{
    width:32px;
    height:32px;
}

table {
    margin:auto;
    border:1px #efefef solid;
    width:90%;
}

tr.even {
    background-color:#efefef;
}

td.printer img{
    border:0px;
    width:15px;
    height:15px; 
}

td.printer {
    width:1%; 
}
td.title{
    text-align:left;
}
td.counters{
    font-family:Courier;
    font-size:0.6em;
    text-align:center;
    width:1%;
}
td.date{
    font-family:Courier;
    font-size:0.75em;
    font-weight:bold;
    text-align:right;
}

.tag{
    font-family:Courier;
    font-size:0.6em;
}

#not_found{
    margin-top:70px;
    font-family:Courier;
    text-align:center;
    font-weight:bold;
}
