.header {
    margin-bottom:20px;
}

.header_current {
    font-weight:bold;
    font-size:1.1em;
    vertical-align:bottom;
}

.logo {
   background:url(/images/stackprinter_banner2.png) no-repeat 0 0 #fff;
   height:70px;
   width:513px;
   margin-top:80px;
   border:0px;
   padding:0px;
}

.main {
   font: bold 1.1em Arial, serif;
}

#input_main {
    border:1px solid #ccc;
    border-bottom-color:#999;
    border-right-color:#999;
    font:15px arial,sans-serif bold;
    text-align:center;
    margin-bottom:5px;
}

.links {
    text-align:left;
    width:505px;
    font-family:Courier;
    font-size:0.8em;
    margin-left:3px;
}

a:link {
    color:#000000;
}

a:visited {
    color:#000000;
}

#links_block {
    margin-top:48px;
}

#main_container{
    margin: auto;
    width:520px;
}

#user_selection_container{
    margin: auto;
    width:300px;
    margin-top:50px;
}

#input_container_question {
    margin: auto;
    text-align:center;
    margin-top:25px;
}

#input_container_favorites {
    margin: auto;
   text-align:center;
   margin-top:25px;
}

#input_container_topvoted {
    margin: auto;
    text-align:center;
    margin-top:25px;
}

#input_container_myse {
    margin: auto;
    text-align:center;
    margin-top:50px;
}

#input_wrapper {
    margin:4px;
}

.oops {
   background:url(/images/unicorn.jpg) no-repeat;
   height:128px;
   width:128px;
   margin-top:15%;
}

#oops_links {
    margin-top:30px;
    font-family:Courier;
    font-size:0.8em;
}

#oops_message {
   font: bold large/1.5em Courier;
}

.about{
 width:510px;
 text-align:left;
 font-family:Courier;
 font-size:0.8em;   
}

#question_title {
    font-family:Courier;
    font-size:0.8em;
    font-weight:bold;
    margin-top:15px;
    text-align: center;
}

a.nolines{text-decoration:none;}

.button{
    margin-top:18px;
}

#check_username {
    font-family:Courier;
    font-size:0.8em;
    font-weight:bold;
    margin-top:25px;
    text-align: center;
}

#appengine_logo{
    margin-top:25px;
    text-align:center;
    
}

.ac_loading {
	background: white url('/images/indicator.gif') right center no-repeat;
}

#myse_login {
   background:url(/images/unicorn_myse.jpg) no-repeat;
   height:128px;
   width:128px;
   margin-top:15%;
}