/* root element for scrollable */
.vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */	
	height: 180px;	 
	width: 300px;
	border-top:1px solid #ddd;	
}

/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0px;
}

/* single scrollable item */
.item {
	border-bottom:1px solid #ddd;
	margin:5px 0;
	padding:6px;
	font-size:12px;
	font-family:Courier;
	height:40px;
	width:300px;
}

/* elements inside single item */
.item img {
	float:left;
	margin-right:20px;
	height:40px;
	width:40px;
}

.item h3 {
	margin:0 0 2px 0;
	font-size:12px;
	font-family:Courier;
	font-weight:normal;
}


#actions {
	width:300px;
	margin:4px 0 10px 0;	
}

#actions a {
	font-size:0.8em;
	cursor:pointer;
	font-family:Courier;
	font-weight:bold;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}	

.prev {
	float:left;
}

#result{
 font-family:Courier;
 font-size:0.8em;   
 font-weight:bold;
 margin-bottom:10px;
 margin-top:40px;
 text-align:center;
}


