a:link, a:visited {
 text-decoration: none;
 font-family:Courier;
 font-size:0.8em;
}

#back img{
    width:20px;
    height:20px;
    border:0
}

#title{
    margin-bottom:3px;
    text-align:center;
}

#input{
    margin-top:8px;
    text-align:center;
    margin-bottom:8px;
    font-family:Courier;
}

#title img{
    width:32px;
    height:32px;
}

table {
    margin:auto;
    border:1px #efefef solid;
    width:90%;
}

tr.odd {
    background-color:#efefef;
}

td.printer img{
    border:0px;
    width:15px;
    height:15px; 
}

td.quicklook img{
    border:0px;
    width:18px;
    height:15px; 
}

td.quicklook {
    width:1%; 
}

td.printer {
    width:1%; 
}
td.title{
    text-align:left;
}
td.counters{
    font-family:Courier;
    font-size:0.6em;
    text-align:center;
    width:1%;
}
td.date{
    font-family:Courier;
    font-size:0.75em;
    font-weight:bold;
    text-align:right;
}

.tag{
    font-family:Courier;
    font-size:0.6em;
}

#not_found{
    margin-top:70px;
    font-family:Courier;
    text-align:center;
    font-weight:bold;
}


#pagination{
    margin-top:5px;
}

td.pagination_found {
    font-family:Courier;
    font-weight:bold;
    margin-top:25px;
    text-align: left;
    font-size:0.8em;
    width:20%;
}

td.pagination_page {
    font-family:Courier;
    font-weight:bold;
    margin-top:25px;
    text-align: center;
    width:60%;
}

td.pagination_pagesize {
    font-family:Courier;
    font-weight:bold;
    margin-top:25px;
    text-align: right;
    font-size:0.8em;
    width:20%;
}

#question-block  {
    padding-top:5px;    
    padding-bottom:5px;
    border-bottom:1px solid;
    margin-left:10%;
    margin-right:10%;
}

#quicklook_question-title  {
    text-align:center;
    font-weight:bold;
    font-size: 13pt;
    margin-bottom:5px;
}
#quicklook_question-details  {
    font-weight:bold;
    font-size: 10pt;
    margin-bottom:5px;
}

#quicklook_question-links {
    font-size:0.9em;
    margin-bottom:20px;
}

#quicklook_question  { 
   font-size:11pt;
   margin-left:13px;
}