<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="StackPrinter - The Stack Exchange Printer Suite">
        <meta name="keywords" content="printer friendly stackoverflow stackapps stack exchange">
        <title>About - StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
    <body>
         <div id="main_container">
              <div class="logo">                           
              </div>
              <div class="header links">
                  <a class="nolines" href="/">Home</a>|<a class="nolines" href="/myse">MySE</a>|<a class="nolines" href="/favorites">Favorites</a>|<a class="nolines" href="/topvoted">TopVoted</a>|<a class="nolines" href="/topprinted">TopPrinted</a>|<a class="nolines" href="/deleted">Deleted</a>|<span class="header_current">About</span>
              </div>
              <div class="about">
                  <br/>
                  <b>Printer-Friendly:</b><br/>
                  Using the <a href="http://www.stackexchange.com/sites">Stack Exchange</a> Network <a href="http://stackapps.com/questions/1/api-documentation-and-help">API</a> produces an essential printable view of a given <i>question id</i> with:<br/>
                  * All the answers<br/> 
                  * All the comments<br/>
                  <br/>
                  The easiest way to use this service is with:<br/>
                  * <a href="https://greasyfork.org/en/scripts/12350-stack-overflow-stackprinter" >StackPrinter GreaseMonkey script</a><br/>
                  * <a href="javascript:(function(){var re = new RegExp('^http://(.*?)\.com/questions/([0-9]+)/');var group = re.exec(window.location.href);if (group!=null){var service = group[1];var questionid=group[2];window.open('http://www.stackprinter.com/export?format=HTML&service='+service+'&question='+questionid)}else{alert('Attention: question id not found!')}})()">Bookmarklet</a><br/>
                  <br/>
                    <b>MySE:</b><br/>
                    Retrieves and lets you print all your Stack Exchange stuff
                    <br/>
                  <br/>
                  <b>Favorites:</b><br/>
                  Retrieves and lets you print all the favorites users' questions<br/>
                  <br/>
                  <b>Top Voted:</b><br/>
                  Retrieves and lets you print the top voted questions by tags<br/><br/>
                  <b>Top Printed:</b><br/>
                    Top voted questions list<br/><br/>
                  <b>Deleted:</b><br/>
                        Deleted questions list<br/><br/>
                  <b>Info:</b><br/>
                  <a target="_new" href="/docs/changelog.txt">Changelog</a>/<a target="_new" href="/docs/todo.txt">ToDo</a>/<a target="_new" href="http://stackapps.com/questions/179/stackprinter-the-stack-exchange-printer-suite">Stack Apps</a>/<a target="_new" href="/docs/api.txt">Api</a><br/>
                  <a target="_new" href="http://github.com/systempuntoout/stackprinter"/>Source code on Github</a>/<a target="_new" href="/docs/privacy.txt">Privacy</a><br/>
                  <img src="/images/systempuntooutmail.jpg"/><br/><br/>
              </div>                                 
          </div>
  </body>
</html>