<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="StackPrinter - The Stack Exchange Printer Suite">
        <meta name="keywords" content="printer friendly stackoverflow stackapps stack exchange">
        <title>About - StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
    <body>
         <div id="main_container">
              <div class="logo">                           
              </div>
              <div class="header links">
                  <a class="nolines" href="/">Home</a>|<a class="nolines" href="/favorites">Favorites</a>|<a class="nolines" href="/topvoted">TopVoted</a>|<span class="header_current">About</span>
              </div>
              <div class="about">
                  <br>
                  <b>Printer-Friendly:</b><br>
                  Using the <a href="http://www.stackexchange.com/sites">Stack Exchange</a> Network <a href="http://stackapps.com/questions/1/api-documentation-and-help">API</a> produces an essential printable view of a given <i>question id</i> with:<br>
                  * All the answers<br> 
                  * All the comments<br>
                  <br>
                  The easiest way to use this service is with:<br>
                  * <a href="http://userscripts.org/scripts/show/77298" >StackPrinter GreaseMonkey script</a><br>
                  * <a href="javascript:(function(){var re = new RegExp('^http://(.*?)\.com/questions/([0-9]+)/');var group = re.exec(window.location.href);if (group!=null){var service = group[1];var questionid=group[2];window.open('http://www.stackprinter.com/export?format=HTML&service='+service+'&question='+questionid)}else{alert('Attention: question id not found!')}})()">Bookmarklet</a><br>
                  <br>
                  <b>Favorites:</b><br>
                  Supported services:<br> 
                  1. The Stack Exchange Network<br>
                  Retrieves and lets you print all the favorites users' questions<br>
                  <br>
                  2. Delicious<br>
                  Retrieves the latest 100 questions of a given Delicious username with <i>stackoverflow</i> tag (<a href="http://meta.stackoverflow.com/questions/47162/save-question-to-delicious-greasemonkey-script">more info</a>).<br>                
                  To add and tag your questions to Delicious use:<br>
                  * <a href="http://userscripts.org/scripts/source/74766.user.js"/>Delicious GreaseMonkey script</a><br>
                  <br>
                  <b>TopVoted:</b><br>
                  Retrieves and lets you print the top voted questions by tags<br><br>
                  <b>Info:</b><br>
                  <a target="_new" href="/docs/changelog.txt">Changelog</a><br>
                  <a target="_new" href="/docs/todo.txt">ToDo</a><br>
                  <a target="_new" href="http://stackapps.com/questions/179/stackprinter-the-stack-exchange-printer-suite">More info on Stack Apps</a><br>
                  <a target="_new" href="http://github.com/systempuntoout/stackprinter"/>Source code on Github</a><br>
                  <img src="/images/systempuntooutmail.jpg"/>    
              </div>                                 
          </div>
  </body>
</html>