$def with (message = None)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="StackPrinter - The Stack Exchange Printer Suite">
        <meta name="keywords" content="printer friendly stackoverflow stackapps stack exchange">
        <title>Favorites - StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
        <script type="text/javascript">
        jQuery(
        	function()
        	{   
        	    jQuery("#check_username").fadeOut(2000);   		
        		if (jQuery.cookie("USERNAME") != null){
        		    jQuery("#input_main").val(jQuery.cookie("USERNAME"));
        		}
        		else{
        		    jQuery("#input_main").focus();
        		}
        		if (jQuery.cookie("SERVICE_FAVORITES") != null){
        		    jQuery("#service").val(jQuery.cookie("SERVICE_FAVORITES"));
        		}
        		jQuery("#favorites_button").click(function() {
        		    input = jQuery.trim(jQuery("#input_main").val())
                    if ( input != "") {
                            jQuery.cookie("USERNAME", input , { expires: 50 })
                            jQuery.cookie("SERVICE_FAVORITES", jQuery("#service").val() , { expires: 50 })
                        	jQuery("#favorites_form").submit();
                        }else{
                        	jQuery("input_main").focus();                      
                        	return false;                                
                        }                                                    
                });
        	});
        </script>
  </head>
    <body>
             <div id="main_container">
                  <div class="logo">                           
                    </div>
                  <div class="header links">
                      <a class="nolines" href="/">Home</a>|<a class="nolines" href="/myse">MySE</a>|<span class="header_current">Favorites</span>|<a class="nolines" href="/topvoted">TopVoted</a>|<a class="nolines" href="/topprinted">TopPrinted</a>|<a class="nolines" href="/deleted">Deleted</a>|<a class="nolines" href="/about">About</a>
                  </div>
                  <br>
                  <form  id="favorites_form" action="/favorites" method="POST">
                      <div id="input_container_favorites">
                         <span class="main">Username</span>
                             <div id="input_wrapper">
                                 <input maxlength="60" name="username" value="" size="20" id="input_main">
                             </div>
                         <div>                                       
                               <select id="service" name="service">
                                   $for service_key in supported_services.keys:
                                      $if supported_services.info.get(service_key):
                                         <option  value="$(service_key)">$(supported_services.info[service_key]['name'])</option>
                                   <option  value="delicious">Delicious</option> 
                              </select>
                          </div>
                          <div class="button">
                              <input type="image" id="favorites_button" src="/images/getquestions.png" onmouseover="this.src='/images/getquestions_MouseOver.png';" onmouseout="this.src='/images/getquestions.png';" />
                          </div>                                        
                      </div>
                  </form>
                  <p id="check_username">
                          $if message:
                              $message
                  </p>                              
              </div>
  </body>
</html>