$def with (counter)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="msvalidate.01" content="B1898196AA6A9934D5A056A346AF7EAF" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="StackPrinter - The Stack Exchange Printer Suite. StackPrinter offers a detailed Printer-friendly rendering of Stack Exchange questions, answers and comments. ">
        <meta name="keywords" content="printer-friendly stackoverflow stackapps stackexchange">
        <title>StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <script src="http://static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">clicky.init(250663);</script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/250663ns.gif" /></p></noscript>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-4276204-5");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
        <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typewatch.js"></script>
        <script type="text/javascript">
        
        function getQuestion(question) {
		        if (jQuery.trim(question)!=''){
    		        jQuery('#question_title').html('&nbsp;');
    		        jQuery('#input_main').addClass('ac_loading');
        		    var service = jQuery('#service').val();
        			jQuery.getJSON("/question?question="+question+"&service="+service, function(data){
                             jQuery('#question_title').text(data.title);
                             jQuery('#input_main').removeClass('ac_loading');
                    });
             }
		}
        jQuery(
        	function()
        	{
        		jQuery("#input_main").focus();
        		jQuery("#question_button").click(function() {
                    if (jQuery.trim(jQuery("#input_main").val()) != "") {
                        	jQuery("#question_form").submit()
                        }else{
                        	jQuery("#input_main").focus();                                                     
                        }
                    return false;                                                     
                });
                jQuery('#input_main').bind('keypress', function(e) {
                    jQuery('#question_title').html('&nbsp;');
                });

                jQuery("#input_main").typeWatch( {wait: 500,captureLength: -1, callback:getQuestion } );
                
                jQuery('#service').bind({
                    keypress: function() {
                    getQuestion(document.getElementById('input_main').value);
                    },
                    change: function() {
                    getQuestion(document.getElementById('input_main').value);
                    }
                });
                
                jQuery('#input_main').bind('keyup blur',function(){ 
                    jQuery(this).val( jQuery(this).val().replace(/[^0-9]/g,'') ); }
                );

        	});
        </script>
  </head>
    <body>
         <div id="main_container">
              <div class="logo">                           
              </div>
              <div class="header links">
                  <span class="header_current">Home</span>|<a class="nolines" href="/favorites">Favorites</a>|<a class="nolines" href="/topvoted">TopVoted</a>|<a class="nolines" href="/about">About</a>
              </div>
              <br/>
              <form id="question_form" action="/export" method="post">
                  <div id="input_container_question">
                     <span class="main">Question id</span>
                     <div id="input_wrapper">
                         <input maxlength="10" name="question" title="StackPrinter" value="" size="12" id="input_main"/>
                     </div>
                     <div>                                       
                          <select id="service" name="service">
                              $for service_key in supported_services.keys:
                                  <option  value="$(service_key)">$(supported_services.info[service_key]['name'])</option> 
                         </select>
                     </div>
                     <div class="button">
                         <input type="image" id="question_button" src="/images/print.png" onmouseover="this.src='/images/print_MouseOver.png';" onmouseout="this.src='/images/print.png';" />
                     </div>
                  </div>
              </form>
              <p id="question_title">&nbsp;</p>
              <div class="links">                           
                <ul id="links_block">
                    <li><b>Sample</b>:  <a target="_blank" href="/export?format=HTML&service=stackoverflow&question=3800707&printer=false"/>What is negative code ?</a>
                    <li><a href="/topprinted">Top Printed questions</a></li>    
                    <li><a href="http://userscripts.org/scripts/show/77298" >StackPrinter GreaseMonkey script</a></li>
                    <li><a href="javascript:(function(){var re = new RegExp('^http://(.*?)\.com/questions/([0-9]+)/');var group = re.exec(window.location.href);if (group!=null){var service = group[1];var questionid=group[2];window.open('http://www.stackprinter.com/export?format=HTML&service='+service+'&question='+questionid)}else{alert('Attention: question id not found!')}})()">Bookmarklet</a></li>
                    <li>Questions printed so far: <b>$(counter)</b> </li>
                </ul>
              </div>
              <div id="appengine_logo">
                  <a href="http://appgallery.appspot.com/about_app?app_id=agphcHBnYWxsZXJ5chQLEgxBcHBsaWNhdGlvbnMYndBODA"><img margin="0" border="0" src="/images/appengine.gif"/></a>
              </div>                                 
          </div>
  </body>
</html>