$def with (message)
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="StackPrinter - The Stack Overflow Printer Suite">
        <meta name="keywords" content="printer friendly stack overflow">
        <title>StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
    <body>
         <div id="home">
 	        <a href="/"><img width="20px" heigth="20px" border="0" src="/images/icon_home.png"/></a>
 	    </div>
         <center>
              <div class="oops">                         
              </div>
              <br>
              <div id="oops_message">                           
                  $ERROR_MESSAGE<br>
                  $message
             </div>                              
          </center>
  </body>
</html>