$def with (service, question)      
<div id="quicklook_question-block">
  <div id="quicklook_question-title">
  	 <img width="30px" heigth="30px" src="/images/$(service).png"/>&nbsp;$htmlquote(question['title'])<br>
  </div>
  <div id="quicklook_question-details">
        [$(['','+'][(int(question['up_vote_count'])-int(question['down_vote_count']))>0])$(int(question['up_vote_count'])-int(question['down_vote_count']))] [$question['answer_count'] answers]
    	$question.get('owner', {'display_name':'community_owned'})['display_name']
  </div>
  <div id="quicklook_question-details">
      [$date_from(float(question['creation_date']))]
  </div>
  <div id="quicklook_question-details">
  [
  $for tag in question['tags']:
      $tag
  ]
  </div>
  <div id="quicklook_question">
      $question['body']
  </div>
</div>