<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="StackPrinter - The Stack Exchange Printer Suite">
        <meta name="keywords" content="printer friendly stackoverflow stackapps stack exchange">
        <title>Top Voted - StackPrinter</title> 
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/jquery.autocomplete.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.autocomplete.min.js"></script>
        <script type="text/javascript">
        jQuery(
        	function()
        	{   
        	    jQuery("#input_main").autocomplete('tags', {
                		multiple: true,
                		matchContains: true,
                		multipleSeparator:' ',
                		extraParams: { service: jQuery("#service").val()}
                	});
                		
        		jQuery("#input_main").focus();
        		
                jQuery('#input_main').bind('keyup blur',function(){ 
                    jQuery("#input_main").setOptions({
                      extraParams: { service: jQuery("#service").val() }
                    }).flushCache();  
                  }
                );
        		
        		if (jQuery.cookie("SERVICE_TOPVOTED") != null){
        		    jQuery("#service").val(jQuery.cookie("SERVICE_TOPVOTED"));
        		}
        		jQuery("#topvoted_button").click(function() {
        		    input = jQuery.trim(jQuery("#input_main").val())
                    jQuery.cookie("SERVICE_TOPVOTED", jQuery("#service").val() , { expires: 50 })
                	jQuery("#topvoted_form").submit();                                                
                });
        	});
        </script>
  </head>
    <body>
     <div id="main_container">
          <div class="logo">                           
            </div>
          <div class="header links">
              <a class="nolines" href="/">Home</a>|<a class="nolines" href="/myse">MySE</a>|<a class="nolines" href="/favorites">Favorites</a>|<span class="header_current"><Favorites>TopVoted</span>|<a class="nolines" href="/topprinted">TopPrinted</a>|<a class="nolines" href="/deleted">Deleted</a>|<a class="nolines" href="/about">About</a>
          </div>
          <br>
          <form  id="topvoted_form" action="/topvoted" method="POST">
              <div id="input_container_topvoted">
                 <span class="main">Tags</span>
                     <div id="input_wrapper">
                         <input maxlength="60" name="tagged" value="" style="text-align:left" size="40" id="input_main">
                     </div>
                 <div>                                       
                       <select id="service" name="service">
                           $for service_key in supported_services.keys:
                               $if supported_services.info.get(service_key):
                                 <option  value="$(service_key)">$(supported_services.info[service_key]['name'])</option>
                      </select>
                  </div>
                  <div class="button">
                      <input type="image" id="topvoted_button" src="/images/getquestions.png" onmouseover="this.src='/images/getquestions_MouseOver.png';" onmouseout="this.src='/images/getquestions.png';" />
                  </div>
              </div>
          </form>                          
      </div>
  </body>
</html>